.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: $main-font;
  font-weight: 400;

  &__picture {
    box-sizing: content-box;
    height: 134px;
    margin-top: 15px;
    padding-top: 12px;
    border: 3px solid transparent;
    border-radius: 5px;
    transition: transform 1s;
  }

  &__picture:hover {
    transform: scale(1.2);
    border-color: #f3f3f3;
  }

  &__name {
    width: 170px;
    height: 31px;
    margin-top: 42px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
  }

  &__code {
    margin-bottom: 0;
    margin-top: 4px;
    margin-left: 14px;
    align-self: flex-start;
    font-size: 11px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
  }

  &__text {
    @extend .rate__responses;
  }

  &__number {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
  }

  &__button {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
