.menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 20px;
  justify-content: end;
  grid-area: container;

  list-style-type: none;

  &__item {
    position: relative;
    line-height: 60px;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.5s;
  }

  &__link:hover {
    color: $main-color;
  }
}

.is-active:active:after {
  content: "";
  position: absolute;
  background-color: $main-color;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 8px;
}
